<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/redondeada2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/circulo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColibriView"
        tools:targetApi="31">
        <activity
            android:name=".daltonismo_en_riesgo"
            android:exported="false" />
        <activity
            android:name=".daltonismo_causas"
            android:exported="false" />
        <activity
            android:name=".daltonismo_tipos"
            android:exported="false" />
        <activity
            android:name=".Prueba21"
            android:exported="false" />
        <activity
            android:name=".DefinicionActivity"
            android:exported="false" />
        <activity
            android:name=".tipos"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".restablecer"
            android:exported="false" />
        <activity
            android:name=".base"
            android:exported="false" />
        <activity
            android:name=".prueba2"
            android:exported="false" />
        <activity
            android:name=".prueba"
            android:exported="false" />
        <activity
            android:name=".ishijara"
            android:exported="false" />
        <activity
            android:name=".ishijara2"
            android:exported="false" />
        <activity
            android:name=".test_completado"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarNuevoActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="false" />
        <activity
            android:name=".Ussuarios"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>